<br>
<h1 class="display-4">Unidades educativas</h1>
<div style="width:80%; margin-left:10%">
   <!-- <div style="width:40%; margin-left:27%">-->
<hr class="hola">
</div>
<div class="shadow p-3 mb-5 bg-white rounded" style="width:1390px; margin-left: 6%">

<div>
    <h3><span class="badge badge-primary">Básicos</span></h3>
</div>
<hr style="opacity:inherit">
<div class="conteiner">
    <div class="row">
        <div class="col md-4">
            <h5><span class="badge badge-secondary">Estudiante</span></h5>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
        </div>
        <div class="col md-4">
            <h5><span class="badge badge-secondary">Grado</span></h5>
            <select class="custom-select" id="inputGroupSelect01" >
                <option selected>Elija el grado</option>
                <option value="1">Primero Básico</option>
                <option value="2">Segundo Básico</option>
                <option value="3">Tercero Básico</option>
              </select>     
        </div>
        <div class="col md-4">
            <h5><span class="badge badge-secondary">Seccion</span></h5>
            <select class="custom-select" id="inputGroupSelect01" >
                <option selected>Elija la seccion</option>
                <option value="1">A</option>
                <option value="1">B</option>
                <option value="1">C</option>
                <option value="1">D</option>
                <option value="1">E</option>
                <option value="1">F</option>
              </select>     
        </div>
    </div>
    <button type="button" class="btn btn-outline-primary">Inscribir</button>
</div>
<hr>
<div>
    <h3><span class="badge badge-primary">Diversificado</span></h3>
</div>
<hr>
<div class="conteiner">
    <div class="row">
        <div class="col md-4">
            <h5><span class="badge badge-secondary">Estudiante</span></h5>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
        </div>
        <div class="col md-4">
            <h5><span class="badge badge-secondary">Grado</span></h5>
            <select class="custom-select" id="inputGroupSelect01" >
                <option selected>Elija el grado</option>
                <option value="1">Cuarto Diversificado</option>
                <option value="2">Quinto Diversificado</option>
                <option value="3">Sexto Diversificado</option>
              </select>     
        </div>
        <div class="col md-4">
            <h5><span class="badge badge-secondary">Carrera</span></h5>
            <select class="custom-select" id="inputGroupSelect01" >
                <option selected>Elije un carrera</option>
                <option value="1">Informatica</option>
                <option value="1">Mecanica</option>
                <option value="1">Dibujo</option>
                <option value="1">Electricidad</option>
                <option value="1">Electronica</option>
              </select>     
        </div>
        <div class="col md-4">
            <h5><span class="badge badge-secondary">Jornada</span></h5>
            <select class="custom-select" id="inputGroupSelect01" >
                <option selected>Elije una jornada</option>
                <option value="1">Matutina</option>
                <option value="1">Vespertina</option>
              </select> 
        </div>
    </div>
</div>
<button type="button" class="btn btn-outline-primary">Inscribir</button>
<hr>
<div>
    <h3><span class="badge badge-primary">Cursos libres</span></h3>
</div>
<hr>
<div class="conteiner">
    <div class="row">
        <div class="col md-4">
            <h5><span class="badge badge-secondary">Estudiante</span></h5>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
        </div>
        <div class="col md-4">
            <h5><span class="badge badge-secondary">Nombre del curso</span></h5>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
        </div>  
    </div>
</div>
<button type="button" class="btn btn-outline-primary">Inscribir</button>
<hr>
</div>