<br>
<h1 class="display-4">Ingrese sus datos</h1>
<div style="width:80%; margin-left:10%">
   <!-- <div style="width:40%; margin-left:27%">-->
<hr class="hola">
</div>
<div class="shadow p-3 mb-5 bg-white rounded" style="width:1390px; margin-left: 4%">

<div class="conteiner">
    <div class="row">
        <div class="col md-4">
            <form>
                <input required='' type='text'>
                <label alt='Primer nombre' placeholder='Primer nombre'></label>
            </form>
        </div>
        <div class="col md-4">
            <form>
                <input required='' type='text'>
                <label alt='Segundo nombre' placeholder='Segundo nombre'></label>
            </form>
        </div>
    </div>
</div>
<br>

<div class="conteiner">
    <div class="row">
        <div class="col md-4">
            <form>
                <input required='' type='text'>
                <label alt='Primer Apellido' placeholder='Primer Apellido'></label>
            </form>
        </div>
        <div class="col md-4">
            <form>
                <input required='' type='text'>
                <label alt='Segundo apellido' placeholder='Segundo apellido'></label>
            </form>      
        </div>
        <div class="col md-4">
            <form>
                <input required='' type='text'>
                <label alt='Apellido de casada' placeholder='Apellido de casada'></label>
            </form>           
        </div>
    </div>
</div>
<hr>

<div class="conteiner">
    <div class="row">
        <div class="col md-3">
            <form>
                <input required="" type='date'>
                <label alt='Fecha de nacimiento' placeholder='Fecha de nacimiento'></label>
            </form>   
        </div>
        <div class="col md-3">
            <form>

                <select required="" class="custom-select">
                    <option value="" hidden>Example Placeholder</option>
                    <option selected>Elije tu religion...</option>
                    <option value="2">Catolico</option>
                    <option value="3">Mormon</option>
                    <option value="4">Satanico</option>
                </select> 
                <label alt='Religion' placeholder='Religion'></label>
            </form>     
        </div>
    </div>
</div>
<br>

<div class="conteiner">
    <div class="row">
        <div class="col md-3">
            <form>
                <input required="" type='date'>
                <label alt='Correo electronico' placeholder='Correo electronico'></label>
            </form>  
        </div>
        <div class="col md-3">
            <form>
                    <select required="" class="custom-select">
                        <option value="" hidden>Example Placeholder</option>
                        <option selected>Elije tu religion...</option>
                        <option value="2">Catolico</option>
                        <option value="3">Mormon</option>
                        <option value="4">Satanico</option>
                    </select> 
                <label alt='Genero' placeholder='Genero'></label>
            </form>      
        </div>
    </div>
</div>
<hr>

<div class="conteiner">
    <div class="row">
        <br>
        <div class="col md-2">
            <input required='' type='text'>
            <label alt='Departamento' placeholder='Departamento'></label>   
        </div>
        <div class="col md-2">
            <input required='' type='text'>
            <label alt='Municipio' placeholder='Municipio'></label>   
        </div>
        <div class="col md-2">
            <input required='' type='text'>
            <label alt='Zona' placeholder='Zona'></label>  
        </div>
        <div class="col md-2">
            <input required='' type='text'>
            <label alt='Colonia o residencial' placeholder='Colonia o residencial'></label>    
        </div>
    </div>
</div>
<br>

<div class="conteiner">
    <div class="row">
        <div class="col md-3">
            <input required='' type='text'>
            <label alt='Avenida' placeholder='Avenida'></label> 
        </div>
        <div class="col md-3">
            <input required='' type='text'>
            <label alt='Calle' placeholder='Calle'></label>      
        </div>
        <div class="col md-3">
            <input required='' type='text'>
            <label alt='Manzana' placeholder='Manzana'></label>      
        </div>
        <div class="col md-3">
            <input required='' type='text'>
            <label alt='Número de casa' placeholder='Número de casa'></label>     
        </div>
    </div>
</div>
<hr>

<div class="conteiner">
    <div class="row">
        <div class="col md-4">
            <input required='' type='text'>
            <label alt='Telefono de residencia' placeholder='Telefono de residencia'></label>
        </div>
        <div class="col md-4">
            <input required='' type='text'>
            <label alt='Celular' placeholder='Celular'></label>     
        </div>
        <div class="col md-4">
            <input required='' type='text'>
            <label alt='Otro' placeholder='Otro'></label>   
        </div>
    </div>
</div>
<br>
<button type="button" class="btn btn-outline-primary">Enviar formulario</button>

</div>


