<br>
<h1 class="display-4">Iniciar Sesion</h1>
<div style="width:48%; margin-left:24%">
   <!-- <div style="width:40%; margin-left:27%">-->
<hr class="class">
</div>
<div class="shadow p-3 mb-5 bg-white rounded"  style="width:50%; margin-left: 23%">

    <div class="conteiner">
        <div class="row">
            <div class="col md-4">
                <br>
                <form>
                    <input required='' type='text'>
                    <label alt='Correo Electronico' placeholder='Correo Electronico'></label>
                </form>
            </div>
            <div class="col md-4">
                <br>
            </div>
        </div>
    </div> 
<hr>
<div class="conteiner">
    <div class="row">
        <div class="col md-4">
            <br>
            <form>
                <input required='' type='text'>
                <label alt='Contraseña' placeholder='Contraseña'></label>
            </form>
        </div>
        <div class="col md-4">
            <br>
        </div>
    </div>
</div>
<div style="text-align: left">
    <a href="">¿Olvide mi contraseña?</a>
</div>
<br>
<hr>
<div>
<button type="button" class="btn btn-outline-primary">Iniciar Sesion</button>
</div>
<br>
<br>
</div>



